<% layout('layouts/boilerplate') %>

<section class="container">
    <ul>
        <% for (let piece of user.knownPieces) {%>
        <li>
            <h2 class="mb-0">
                <a href="/pieces/<%= piece._id %>" class="a-reset"><%= piece.name %></a>
            </h2>
            <% var cnt = 0 %>
            <% for (let log of piece.logs) {%>
                <% if (log.author.equals(user._id) && cnt < 5) {%>
                    <% cnt++ %>
                    <div>
                        <%= log.title %></a> - <%= log.timePracticed %> minutes practiced
                    </div>
                <% } %>
            <% } %>
        </li>
        <% } %>
    </ul>
</section>