<% layout('layouts/boilerplate') %>
<section class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Welcome to Logs!</h1>
            <p>This is a website where you can post your practice logs!</p>
        </div>
        <div class="col black-border">

        </div>
    </div>
</section>