main {
    padding-top: 70px;
    z-index: 0 !important;
}

body {
    position: relative;
}

:root {
    --brown0: #fff8ee;
    --brownbg: #fff1dc;
    --brown1: #efe3b8;
    --brown2: #f2b66d;
    --brown3: #dea55f;
    --brown4: #bf814b;
    --brown5: #a6603a;
    --brown6: #351605;
}

* {
    color: var(--brown0);
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Overpass', sans-serif;
}

.t-font {
    font-family: 'Overpass Mono', monospace !important;
}

.navbar {
    background-color: var(--brown6);
    width: 100%;    
    height: 70px !important;
    position: fixed;
    z-index: 10 !important;
}

.nav-text {
    color: var(--brown0) !important;
}

.btn:hover {
    color: var(--brown0) !important;
}

li div form button:hover {
    color: var(--brown6) !important;
}

.light-bg {
    background-color: var(--brown1) !important;
}

.btn-piece {
    color: var(--brown0) !important;
    background-color: var(--brown6);
}

.btn-piece:hover {
    background-color: var(--brown6);
    color: var(--brown0) !important;
}

.btn {
    color: #7F5539;
}

.index-piece-name:hover {
    font-weight: 700;
    color: var(--brown5) !important;
}
.a-reset {
    color: var(--brown0);
    text-decoration: none;
}

.a-reset:hover {
    color: var(--brown0);
    font-weight: 700;
    text-decoration: underline;
}

.a-reset-dark {
    color: var(--brown6);
    text-decoration: none;
}

.a-reset-dark:hover {
    color: var(--brown6);
    font-weight: 700;
    text-decoration: underline;
}

.no-special:hover {
    text-decoration: none;
    font-weight: 400
}

.light-brown {
    color: var(--brown1) !important;
}

.font-brown {
    color: var(--brown6);
}

.row span {
    width: 50%;
}

.black-border {
    border: 1px solid black;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-100 {
    height: 100%;
}

.background-wood {
    max-width: 50%;
}

h1 {
    font-size: 2em;
}

.brand-logo {
    font-size: 2rem;
    font-family: 'Tiro Telugu', serif;
}

.fancy-font {
    font-family: 'Tiro Telugu', serif;
}

h2 {
    font-size: 1em;
}

.bold {
    font-weight: 700;
}

.btn-close {
    color: var(--brown0);
}

.brown0 {
    color: var(--brown0);
}

.background-color-brown0 {
    background-color: var(--brown0);
}

.background-color-brown4 {
    background-color: var(--brown4);
}

.background-color-brown5 {
    background-color: var(--brown5);
}

.navbar {
    height: 70px;
}

.piece-card {
    background-color: white;
    border-radius: 8px;
}

.piece-card div {
    width: fit-content;
}

.card-text, .card-title {
    color: var(--brown6) !important;
}

.card-body {
    z-index: 1 !important;
}

.limit {
    max-width: 368px;
    overflow-wrap: break-word;
}